<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Properties -->
    <title>Đăng ký người dùng</title>
    <% include ./head%>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        @media(min-width: 768px) {
                .field-label-responsive {
                    padding-top: .5rem;
                    text-align: right;
                }
                }
    </style>
</head>

<body>
    <!-- Left Panel -->
    <% include ./left_panel%>

    <div id="right-panel" class="right-panel">
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="/users/register">
              
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 mt-5">
                        <h2>Register New User</h2>
                        <hr>
                    </div>
                </div>
                <%if(typeof error_message != 'undefined' && error_message != null && error_message.length > 0){%>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                                    <%=error_message %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            </div>
                    </div>
                    <%  } %>
                <%if(typeof success_message != 'undefined' && success_message != null && success_message.length > 0){%>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                                    <%=success_message %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            </div>
                    </div>
                    <%  } %>
                
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                <input autocomplete="off" type="text" name="name" class="form-control" id="name"
                                    placeholder="John Doe" required autofocus value="<%if(typeof body != 'undefined'){__append(body.name)} %>"> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-control-feedback">
                            <span class="text-danger align-middle">
                                <!-- Put name validation error messages here -->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 field-label-responsive">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input autocomplete="off" type="password" name="password" class="form-control" id="password"
                                    placeholder="Password" required value="<%if(typeof body != 'undefined'){__append(body.password)} %>">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Right Panel -->

    <!-- Footer -->

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <!-- Footer -->
</body>

</html>