<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">CHEAT SHEET</a>
            <a class="navbar-brand hidden" href="/"><img src="images/logo2.png" alt=""></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/"> <i class="menu-icon fa fa-dashboard"></i>Thống kê chung</a>
                </li>
                <!--Thống kê số liệu-->
                <!--Vận hành-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-star"></i>Vận hành</a>
                    <ul class="sub-menu children dropdown-menu ">
                        <li><i class="menu-icon fa fa-th"></i><a href="/operate/general">Tổng quan</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/operate/ccu">CCU</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/operate/pcu_acu">PCU & ACU</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/operate/retention_rate">R2_R3_R7</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="/operate/total_logins">A3_A7_A30</a></li>
                    </ul>
                </li>
                <!--Git-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-github"></i>Git Cheat Sheet</a>
                    <ul class="sub-menu children dropdown-menu">
                       
                        <li><i class="fa fa-th"></i><a href="/git/cheat_sheet">Tìm kiếm</a></li>
                    </ul>
                </li>
                <!--Bootstrap-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-envelope"></i>Bootstrap tick</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="/bootstrap/cheat_sheet">Formular</a></li>
                       
                    </ul>
                </li>
                <!--Giftcode-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-bookmark"></i>Giftcode</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="/">Thêm cố định</a></li>
                        <li><i class="fa fa-th"></i><a href="/">Thêm ngẫu nhiên</a></li>
                        <li><i class="fa fa-th"></i><a href="/">Danh sách phân loại</a></li>
                        <li><i class="fa fa-th"></i><a href="/">Thêm phân loại</a></li>
                    </ul>
                </li>
                <!--Nhân vật-->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-user"></i>Nhân vật</a>
                    <ul class="sub-menu children dropdown-menu ">
                        <li><i class="menu-icon fa fa-th"></i><a href="/">Tìm kiếm</a></li>
                    </ul>
                </li>
                <!--Nạp tiền-->
                <li class="menu-item-has-children dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-money"></i>Nạp tiền</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="/">Nạp trực tiếp</a></li>
                    </ul>
                </li>
                 <!--Sự kiện -->
                 <li class="menu-item-has-children dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-calendar-plus-o"></i>Sự kiện</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa  fa-search"></i><a href="/">Tìm kiếm</a></li>
                    </ul>
                </li>
                <!--Hoạt động-->
                <li class="menu-item-has-children dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
                        <i class="menu-icon fa fa-th"></i>Hoạt động</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="/">Tìm kiếm</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->