npm validator : VD: để kiểm tra email có hợp lệ không, hoặc url có đúng không... <br>
npm chalk : để in ra màn hình console màu sắc: Vd: in ra message màu green nếu thông báo success, hoặc màu đỏ nếu thông báo error <br>
npm yargs: thay vì dùng process.argv để hiển thị <a href="http://prntscr.com/mvvvld">Xem ảnh</a><br>
Thêm tùy chọn cho yargs : <a href="http://prntscr.com/mvwob0">Xem ảnh</a><br>
http://prntscr.com/mwd2nq <br>