Trang chủ : <a href="https://reactjs.org/">React Js</a><br>
Nguồn tham khảo : <a href="https://reacttraining.com/react-router/web/guides/philosophy">React Router</a><br>
Link Youte ZendVN : <a href="https://www.youtube.com/watch?v=IHiGFSbI0fA&index=34&list=PLv6GftO355AsWv1PaUHRAAf1NB0usIhVD">Tại đây</a><br>
<hr/>
Cài đặt npm create-react-app.<br/>
npm react-router-dom <br>
Link hướng dẫn dùng react-router : <a href="https://reacttraining.com/react-router/web/guides/quick-start">Ở đây</a><br>
Thay vì render bằng JSX, ta có dùng <code> React.createElement('li',{className: "list-group-item"},'123')</code> để render. <br>
Đường dẫn thân thiện. Từ khóa : Slug<br>
Sử dụng foreach trong Reactjs : <a href="https://reactjs.org/docs/lists-and-keys.html">Nhấp vào</a>. Lưu ý gắn <code>KEY</code>vào trong từng vòng lặp. <br>
Làm việc với Form trong reactjs để lấy các field input : <a href="https://reactjs.org/docs/forms.html">Ở đây</a>. Hiểu thêm về <code>onChange</code>: <a href="https://www.w3schools.com/tags/ev_onchange.asp">Ở đây</a> <br>
